[submodule "modules/dotlink"]
	path = modules/dotlink
	url = https://github.com/denisidoro/dotlink.git
	shallow = true
	
[submodule "modules/zimfw"]
	path = modules/zimfw
	url = https://github.com/zimfw/zimfw.git
	shallow = true

[submodule "modules/z.lua"]
	path = modules/z.lua
	url = https://github.com/skywind3000/z.lua.git
	shallow = true
